.containerForm{
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formBox{
    width: 35%;
    padding: 15px;
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;

}

.inputField{
    outline: none;
}

small{
    color: red;
}