.image-container img {
  display: block;
  width: 100%;
  height: 97vh;
}

.image-heading {
  font-size: 70px;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
}

.container {
  /* border: 1px solid black; */
  margin-top: 20px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.img-box {
  width: 40%;
  height: 300px;
}

.img-box img {
  width: 100%;
  height: 100%;
}

.contents {
  width: 38%;
  height: 250px;
  background-color: lightcyan;
  padding: 25px;
  font-size: 20px;
}

.btn-box{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.btn{
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  background-color: white;
  color: #202020;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn.active {
  background-color: green;
  color: white;
  font-weight: bold;
}

.btn:hover {
  background-color: blue;
  color: white;
}